div
  if data.firstBatch
    a(href='/blockchain?from='+ data.firstBatch.from + '&to=' + data.firstBatch.to) &lt;&lt; Oldest 
  if data.prevBatch
    a(href='/blockchain?from='+ data.prevBatch.from + '&to=' + data.prevBatch.to)&nbsp; &lt; Older 
  if (data.firstBatch && data.lastBatch)
    span &nbsp;||&nbsp;
  if data.nextBatch
    a(href='/blockchain?from='+ data.nextBatch.from + '&to=' + data.nextBatch.to) Newer &gt; &nbsp;
  if data.lastBatch
    a(href='/blockchain?from='+ data.lastBatch.from + '&to=' + data.lastBatch.to) Newest &gt;&gt;