#bootstrap
    //- meta(charset='utf-8')
    //- meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //- meta(name='viewport', content='width=device-width, initial-scale=1')
    //- meta(name='description', content='')
    //- meta(name='author', content='')
    //- //- link(rel='icon', href='#{pathToAssets}/docs/favicon.ico')
    //- link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')   
    //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
