div(role="navigation", class="navbar navbar-default")
  div(class="navbar-header")
    ul(class="nav navbar-nav")
      li
        a(href='/getreportfor') Account balance & history
      li
        a(href='/blockchain') Asset explorer
    form(class="navbar-form navbar-left", role="search", action="/getreportfor", method="post")
      div(class="form-group")
        input(type="text", name="address", class="form-control", placeholder="Enter address")
        input(type="submit", class="btn btn-default", value="Get report")
    p
