doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="/res/style.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
    block extra_styles
    block title
  body
    div(class="container-fluid")
      div(id='header')
        block body_header
          include ./header.jade
      hr
      block content
      hr
      div(id='footer')
        p Your time: 
          span(id='current_tz')
          p(id='show-tz-help') (How to change your time/time zone)
          p(id='tz-help') Cuber-explorer is using the indicated time zone of your browser which in its turn uses the operating system's settings. Please change the operating system settings to your desired time zone, if the displayed time zone is not the correct one. If that does not work, contact support. [Hide message]
        script(type='text/javascript' src='https://cdn.polyfill.io/v1/polyfill.min.js?features=Intl.~locale.en')
        script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js')
        script(type='text/javascript')
          include ./default_document_ready.js
        block extra_scripts


