extends ./includes/master.jade
doctype html
html(lang="en")
  head
    block title
      title Transfers in this asset class
  body(role='document')
    block content
      h1 Transfers in this asset class
      h2 In the blockchain, oldest first
      p Transfers 
        span=data.from + 1
        span  to 
        span=data.to
        span  of a total of  
        span=data.collectionLength + ' transfers'
      include ./includes/batchnavigator.jade
      p &nbsp;
      div(class='table-responsive')
        table(class='table')
          tr(class='bg-primary')
            th(class='.hidden-xs')
              span(class="glyphicon glyphicon-eye-open" aria-hidden="true")
            th Date
            th(class='.hidden-xs') Block height
            th Euros
                th To account
          each item in data.allTxos
            tr
              td(class='.hidden-xs')
                a(href= '/txinfo/'+item.outputId.replace(':','#'))
                  span(aria-label='transaction info')
                  span(class="glyphicon glyphicon-eye-open" aria-hidden="true")
              td(class='parsable_timestamp')=item.isoTimestamp
              td(align='right', class='.hidden-xs')=item.height
              td(align='right')=item.euro
              td
                a(href= '/getreportfor/' + item.address)=item.address
      div &nbsp;
      include ./includes/batchnavigator.jade

