extends ./includes/master.jade
doctype html
html(lang="en")
  head
    block title
      title Get transactions for an address
  body(role='document')
    block content
        include ./includes/account_search.jade
