extends ./includes/master.jade
doctype html
html(lang="en")
  head
    block title
      title Cuber colored coins explorer
  body(role='document')
    block content
      h1 Colored coins explorer
      p Look in the asset explorer for addresses to enter, or just click directly at addresses there


