extends ./includes/master.jade
doctype html
html(lang="en")
  head
    block title
      title Account balance &amp; history
      include ./includes/bootstrap.jade
  body
    block content
      include ./includes/account_search.jade
      p='Account balance & history for account: '
      h1=report.address

      h2 Total balance
      b=' €'+ report.balance

      h2 Transaction history
        a(href='/getcsvreportfor/'+ report.address)=' '
          button(class="btn btn-primary") 
            span(class="glyphicon glyphicon-download" aria-hidden="true")
            span &nbsp;Download (CSV) 
      div(class='table-responsive')
        table(class='table')
          thead
            tr(class='bg-primary')
              th Date
              th Account
              th Deposits
              th Withdrawals
          tbody(class='account-report')
            each item in report.tx_history
              tr
                td(class='parsable_timestamp')=item.isoTimestamp
                td
                  if item.isSpent
                    a(href= '/getreportfor/' + item.address)=item.address
                  else
                    each input in item.inputs
                      a(href= '/getreportfor/' + input.fromAddress)=input.fromAddress
                      span=' '
                td(align='decimal', dp='.')
                  unless item.isSpent
                    b=' € '+ item.euro
                td(align='decimal', dp='.', class='withdrawal')
                  if item.isSpent
                    b=' € '+ item.euro

