extends ./includes/master.jade
doctype html
html(lang="en")
  head
    block title
      title Info for transfer #{path}
    include ./includes/bootstrap.jade

  body(role='document')
    block content
      h1 Transfer info
      each output, index in tx
        h2 
          a(name=index) Output ##{index}
        blockquote
          h2 To address
          p
            a(href= '/getreportfor/' + output.address)=output.address
          h2 From addresses
          each input in output.inputs
            ul
              li
                a(href= '/getreportfor/' + input.fromAddress)=input.fromAddress
          h2 Color value
          p=output.colorValue
          h2 Output id in transfer
          p=output.outputId
          h2 Contributing inputs to output
          if output.isGenesis
            p None, this is a colored coins genesis transaction
          each input in output.inputs
            blockquote
              if input.isGenesis
                h3 Genesis input:
              pre=JSON.stringify(input, null, ' ')
    //- h2 All data
    //- pre=JSON.stringify(tx.blockchainTx, null, ' ')
 
