body {
  /*font-family: Times;*/
}

.withdrawal {color:red}
tbody.account-report tr:nth-child(odd) {
  background: #eee;
}
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
td {
    line-height: 1.4em;
    padding: 0.25em;
    }

h1 {
  font-family: Helvetica;
  font-size: 28px;
}

h2 {
  font-size: 24px;
  font-family: Helvetica;
}

fieldset {
  border: 1px solid #CCC;
  width: 600px;
  margin: 10px auto;
}

label {
  font-weight: bold;
}

#wrapper {
  overflow: hidden;
}

#page {
  text-align: left;
  max-width: 800px;
  margin: auto;
}

#content {

}

#header {
  margin: 20px auto;
  text-align: center;
}

#footer {
  font-size: 90%;
  margin: 20px auto;
  text-align: center;
}
